.light {
  --background: #ffffff;
  --section: #ffffff;
  --border: #c0c0c0;
  --header: #444444;
  --text: #858585;
  --search: #ffffff;
  --input: #000000;
  --subheading: bold;
}

.dark {
  --background: #0f0f0f;
  --section: #070707;
  --border: #3f3f3f;
  --header: #ffffff;
  --search: #121212;
  --text: #aaaaaa;
  --input: #ffffff;
  --subheading: normal;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  /*background-color: #444444;
  background-image: url("images/background.png");*/
  display: flex;
  justify-content: center;
  align-items: safe center;
  /*flex-direction: column;*/
  background-color: var(--background);
}

h1 {
  color: var(--header);
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}

.invis {
  display: none !important;
  opacity: 0;
}

#container {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  border: 2px solid var(--border);
  border-radius: 20px;
  margin: 20px 0 20px 0;
  /*box-shadow: 0px 0px 10px 0px black;*/
}

#search {
  width: 450px;
  height: 30px;
  border: 2px solid var(--border);
  font-size: 16px;
  border-radius: 5px;
  padding-left: 30px;
  background-image: url("images/icon.png");
  background-size: 20px;
  background-position: 5px 6px;
  background-repeat: no-repeat;
  margin: 5px 0 5px 0;
  background-color: var(--search);
}

#output {
  color: var(--text);
  font-style: italic;
  margin-top: 5px;
}

input {
  color: var(--input);
}

input::placeholder {
  color: var(--border);
}

#preloader {
  display: none;
}

/* ANIMATIONS */
@keyframes fadeIn {
  to {
    opacity: 1; /* End state: fully opaque */
  }
}

@keyframes fadeOut {
  to {
    opacity: 0; /* End state: fully opaque */
  }
}

/* THUMBNAILS */
#thumbbox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 630px;
  justify-content: center;
  position: relative;
  margin-top: 12px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: 2px solid var(--border);
  border-radius: 20px;
  padding: 50px 20px 20px 20px;
  justify-content: center;
  position: relative;
  background-color: var(--section);
}

.section, .section img {
  opacity: 0;
  animation: fadeIn 0.2s forwards;
  object-fit: contain;
}

.section > div {
  position: relative;
}

.cdxNotice {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 24px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  text-shadow:
     -1px -1px 0 #000000,
     1px -1px 0 #000000,
     -1px 1px 0 #000000,
     1px 1px 0 #000000;
  color: white;
}

.category {
  width: fit-content;
  color: var(--header);
  font-weight: var(--subheading);
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 20px;
  height: 25px;
}

.category > div {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category img {
  width: 20px;
  margin: auto;
}

.thumbnail {
  width: 192px;
  height: 144px;
}

/* MISC */

#downloader {
  border: 2px solid var(--border);
  border-radius: 10px;
  padding: 10px;
}